<mat-toolbar color="primary" style="text-align:center">
  <mat-toolbar-row>
    <h1>
      Login
    </h1>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<div *ngIf="!authenticate()">
  <button style="margin: auto; display: block" type="button" mat-raised-button color="accent" (click)="login()">Log In</button>
</div>
<div *ngIf="authenticate()">
  <button style="margin: auto; display: block" type="button" mat-raised-button color="accent" (click)="logout()">Log Out</button>
  <h1>You are logged in!</h1>
</div>
