<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/home" style="text-align:left">Home</a>
    <span class="toolbar-spacer"></span>
    <a mat-button routerLink="/login" style="text-align:left">Login</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
