<div class="example-container">
  <form (submit)='submit()'>
    <mat-form-field>
      <input (change)='getValid()' id="email" name="email" matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select name="location" id="location" placeholder="Choose a Location" [(ngModel)]='locationInput' (ngModelChange)='getValid()'
        required>
        <mat-option value="Alaska">Alaska</mat-option>
        <mat-option value="Canada">Canada</mat-option>
        <mat-option value="Hawaii">Hawaii</mat-option>
        <mat-option value="Mexico">Mexico</mat-option>
        <mat-option value="Puerto Rico">Puerto Rico</mat-option>
        <mat-option value="United States (continental)">United States (continental)</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary" [disabled]='!valid'>Submit</button>
  </form>
  <h3 *ngIf='valid'>{{emailText}} {{locationText}}</h3>
</div>
